#canvas {
    text-align: center;
    margin: auto;
    border: 1px solid black;
    background:white;
    cursor: url(./img/pencil.png) 0 32, auto;
}


body
{
    text-align: center;
    background-image: url("./img/background2.jpg");
    /* background-position:0% -19%; */
    /* background-repeat: no-repeat; */
    background-size: cover; 
}

header
{
    text-align: center;
    /* display: block;
    margin-left: auto;
    margin-right: auto; ##################為什麼這樣不行?####################*/ 


    /* background-color: blanchedalmond; */
}

#fontSizeLabel{
    font-family:fantasy;
}

#penSizeLabel{
    font-family:fantasy;
}

#penSliderValue{
    font-family:fantasy;
}

#fontSliderValue{
    font-family:fantasy;
}

#pencolorPickerLabel{
    font-family:fantasy;  
}

#fontcolorPickerLabel{
    font-family:fantasy;
}

.option-btn:hover{
    background-color:rgba(255, 255, 255, 0.699);
}

#pencolorPicker, #fontcolorPicker{
    /* border-radius: 100%; */
    height: 20px;
    width: 20px;
    padding: 0px;
    /* border: none;
    outline: none; */
    /* -webkit-appearance: none; */
}

#upload{
    width: 0px;
    height: 0px;
  }
  
#uploadLabel:hover{
    cursor: pointer;
}

#uploadImg:hover{
    background-color:rgba(255, 255, 255, 0.699);
    cursor: pointer;
}

/* #canvasBackground{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
} */

